doctype html
html    
    head
        style.
            table , th, td {
                border: 1px solid black;
            }
    body
        table 
            tr 
                th name
                th id
                th roomNo



            each doc in users
                tr
                    td=doc.name
                    td=doc.id
                    td=doc.roomNo
            



                